
.restaurantContainer{
    /* display: flex; */
    margin: auto;
    max-width: 80%;
    /* width: fit-content; */
    /* margin-top: -100px; */
    z-index: 1;
    text-align: center;
}
.darkness{
    /* background-color: black; For browsers that do not support gradients */
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0));
    height: 10%;
    position: absolute;
    top: 0;
    z-index: 3;
    width: 100%;
}

.homepageButton{
    width: 18vw;
    max-width: 120px;
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
    margin-right: 17px;
    background-color: #AD9C63;
    border: 0;
    color: white;
    border: 2px solid #6c613e;
    /* font-weight: bold; */
}


.diningImage{
    width: 100%;
    /* filter: brightness(60%); */
    /* /* position: absolute;
    top: 0; */
    z-index: -1;
    /* box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.2); */
  /* -ms-interpolation-mode: bicubic; */
}

.mainTitle{
    font-size: 8vw;
    color: white;
}


.titleAndButtonContainer{
    position: absolute;
    z-index: 1;
    top: 10%;
    left: 10%;
}

.searchBar{
    border-radius: 5px;
}

.fadeIn{
    opacity:1;
    transition: opacity 0.5s;
    width: 100%;
}

.fadeOut{
    opacity:0;
    width: 0;
    transition: opacity 0.5s;
}

.createPostPage {
  width: 100%;
  height: calc(100vh - 80px);
  display: grid;
  place-items: center;
}

.cpContainer {
  width: 500px;
  height: auto;
  padding: 20px;
  background-color: black;
  border-radius: 12px;
  color: white;
  display: flex;
  flex-direction: column;
}

.cpContainer h1 {
  text-align: center;
}

.cpContainer label {
  font-size: 25px;
}
.cpContainer .inputGp {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.inputGp input,
.inputGp textarea {
  font-size: 18px;
  border: none;
  border-radius: 2px;
  padding: 5px;
}

.inputGp input {
  height: 40px;
}
.inputGp textarea {
  height: 150px;
}

.cpContainer button {
  margin-top: 20px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}
input,
textarea {
  margin-top: 5px;
}

.post {
  width: 600px;
  height: auto;
  max-height: 600px;
  background-color: rgb(250, 250, 250);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 20px;
  padding: 20px;
  border-radius: 15px;
}

.post .postHeader {
  display: flex;
  justify-content: center;
  width: 100%;
}

.postHeader .title {
  flex: 50%;
}
.postHeader .deletePost {
  flex: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.deletePost button {
  border: none;

  background: none;
  font-size: 30px;
  cursor: pointer;
}

.post .postTextContainer {
  word-wrap: break-word;
  height: auto;
  max-height: 400px;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
}